:root {
    --primaryColor: #f09d51;
    --mainWhite: rgb(248, 192, 192);
    --mainBlack: #222;
    --mainGrey: #ececec;
    --mainSpacing: 0.1rem;
    --mainTransition: all 0.3s linear;
}

.header {
    min-height: calc(100vh - 60px);
    background: url("../images/hero-bcg.jpeg") center/cover no-repeat;
    /* background: url("/src/assets/productss.json") center/cover no-repeat; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner {
    text-align: center;
    background: rgba(255, 255, 255, 0.8);
    display: inline-block;
    padding: 2rem;
}
.banner-title {
    font-size: 3.4rem;
    text-transform: uppercase;
    letter-spacing: var(--mainSpacing);
    margin-bottom: 3rem;
}

.banner-btn:hover {
    background: transparent;
    color: var(--primaryColor);
}