
    <!-- navbar -->
        <nav class="navbar">
            <div class="navbar-center">
                <!-- <span class="nav-icon">
                <i class="fas fa-bars"></i>
                </span> -->
                <h1 style="font-weight: 800;">Vats Store</h1>
                <div routerLink="cart" class="cart-btn">
                    <span  class="nav-icon">
                        <i class="fas fa-cart-plus"></i>
                    </span>
                <div class="cart-items">{{totalItems}}</div>
                </div>
            </div>
        </nav>
    <!-- end of navbar -->

